# Ignore everything and selectively allow files
*

!.gitignore
!.zed/settings.json
!.github/**/*
!CODE_OF_CONDUCT.md
!LICENSE
!README.md
!typos.toml
!scripts/*

!.envrc
!flake.nix
!flake.lock
!default.nix

!Cargo.toml
!Cargo.lock
!src/*.rs
!build.rs
!benches/*.rs
!benches/fixtures/**/*.yaml
target/**/*

# Recurse through sub-directories applying the same patterns
!*/
