# Ignore everything and selectively allow files
*

!.gitignore
!.zed/settings.json
!CODEOWNERS
!CODE_OF_CONDUCT.md
!LICENSE
!README.md
!typos.toml

!.envrc
!flake.nix
!flake.lock

!Cargo.toml
!Cargo.lock
!src/*.rs
!build.rs
target/**/*

# Recurse through sub-directories applying the same patterns
!*/
